body, html {
    padding: 0;
    margin: 0;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 1rem;
}

hr {
    border: 1px solid hsl(240, 5%, 91%);
}

h3 {
    font-weight: 700;
}

.container {
    height: 100vh;
    background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    display: flex;
    justify-content: center;
    align-items: center;
}

.faq {
    min-height: 60%;
    width: 60%;
    border-radius: 25px;
    background: url(./images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-color: white;
    background-position: left -400px bottom -80px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    z-index: inherit;
    position: relative;
    overflow: hidden;
}

.right-content {
    padding: 0 200px 0 50px;
    display: flex;
    flex-direction: column;
    width: 600px;

}

.qAnda {
    display: inline-block;
    height: 400px;
}

.headline {
    font-size: 3rem;
    margin: 20px 0 90px;
    color:hsl(237, 12%, 33%);
}

.questions {
    font-size: 1.1rem;
    font-weight: 700;
    cursor: pointer;

}

.anwers {
    color:hsl(238, 29%, 16%)
}

.image1 {
    width: 650px;
    height: auto;
    position: relative;
    right: 18%;

}

.image2 {
    position: fixed;
    left: 14%;
    bottom: 500px;
    width: 250px;
    height: auto;
    z-index: 1;

}
/* -------------Animations------------- */

.scrolling-end {
    opacity: 0;
}

.scrolling-start {
    transition: opacity 1s;
    will-change: opacity;
}